<% if (title) { %>
  <h1 class="form-title"><%= title %></h1>
<% } else { res.redirect('/') } %>

<!-- messages -->
<%- messages() %>

<!-- display error -->
<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<div class="account-management-wrapper">
  <% let account = locals.accountData %>
  <% if (locals.loggedin) { %>
    <h2 class="welcome">Welcome <span class="darker"><%= locals.accountData.account_firstname %></span></h2>
    <p class="login-msg">You're logged in.</p>
    <div class="management-links">
      <a href="/account/edit/<%= locals.accountData.account_id %>">Manage Account Information</a>
    </div>
    <% if (account.account_type == "Employee" || account.account_type == "Admin") { %>
      <h3 class="inv-msg">Inventory Management</h3>
      <div class="management-links">
        <a href="/inv/">Manage inventory</a>
      </div>
    <% } %>
  <% } %>
</div>
