<% if (title) { %>
  <h1 class="form-title"><%= title %></h1>
<% } else { res.redirect('/') } %>

<!-- messages -->
<%- messages() %>

<!-- display error -->
<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<div class="form-wrapper register-wrapper" id="registerFormContainer">
  <!-- The update Form Content -->
  <form class="update-form login-form" id="updateForm" action="/account/accountupdate" method="post">
    <!-- first name -->
    <label class="input" for="account_firstname">First Name:</label>        
    <input
        class="input"
        type="text"
        id="account_firstname"
        name="account_firstname"
        placeholder="First Name"
        required
        value="<%= locals.account_firstname %>"
    >
    <!-- last name -->
    <label class="input" for="account_lastname">Last Name:</label>
    <input
      class="input"
      type="text"       
      id="account_lastname"
      name="account_lastname"
      placeholder="Last Name"
      required
      value="<%= locals.account_lastname %>"
    >
    <!-- email -->
    <label class="input" for="account_email">Email:</label>
    <input
      class="input"
      type="email"
      id="account_email"
      name="account_email"
      placeholder="Please enter a valid email address."
      required
      value="<%= locals.account_email %>"
    >
    <!-- Update Button -->
    <button id="register" class="login-btn" type="submit">Update</button>
  
    <!-- id -->
      <input type="hidden" name="account_id"
      <% if(locals.account_id) { %>
        value="<%= locals.account_id %>"
      <% } %>>

    </form>

    <h2 class="update-pw">Update Password</h2>

    <!-- PASSWORD UPDATE DORM -->
    <form class="update-form login-form" id="updateForm" action="/account/updatepassword" method="post">
    <!-- password -->
        <label class="input" for="account_password">Password:</label>
        <!-- password info -->
        <span class="password-info">
        *Passwords must be minimum of 12 characters and include 1
        capital letter, 1 number, and 1 special character.
        </span>
        <input
        class="input"
        type="password"
        id="account_password"
        name="account_password"
        placeholder="****************"
        pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"
        required
        >
        <!-- checkbox container for password -->
        <div class="checkbox-container">
        <input type="checkbox" id="showPassword" class="password-box">
        <label for="showPassword" id="textInfoPw"
        class="show-hide">
            Show Password</label>
        </div>

        <!-- change password button -->
        <button id="register" class="login-btn" type="submit">Change Password</button>

        <!-- id -->
        <input type="hidden" name="account_id"
        <% if(locals.account_id) { %> 
            value="<%= locals.account_id %>"
        <% } %>>
    </form>
</div>

<script src="../../js/inv-update.js"></script>
<script src="../../js/showPassword.js"></script>